<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom">
  <div class="container">

    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i>
    </a>

    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Home</a>
        </li>
      </ul>

      <div class="search-bar navbar-nav">
        <form class="d-flex" role="search" method="get" action="/listings/search">
          <input class="form-control me-2 search-input" type="search" placeholder="Search Destinations" name="title" value="<%=searchQuery || ''%>"/>
          <button class="btn btn-outline-success btn-search" type="submit"> <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add new listing</a>
        </li>

        <% if (currUser) { %>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/login">Login</a>
          </li>
        <% } %>
      </ul>
    </div>

  </div>
</nav>
